<!-- Basically the same as usersProfileList, but with a link to directmessage instead of profile-->

<div id="UserStatus">
    <ul class="list-group"></ul>
    <% for(let index = 0; index < usersStatuses.length; index++) { %>
        <% if(usersStatuses[index].username !== "DELETED USER") { %>
        <li class=" <%= (usersStatuses[index].status) == 
        'Online' ? 'text-success' : 'text-secondary' %>">
            <a 
                href="/dms/<%= usersStatuses[index].username %>" 
                class="<%= (usersStatuses[index].status) == 
                'Online' ? 'text-success' : 'text-secondary' %> <%=usersStatuses[index]._id %>"> 
                <%= usersStatuses[index].username %> </a>
            </li>
        <% } %>    
    <% } %>
    </ul>
</div>