<!-- Basically the same as online users, but with a link to profile instead of direct message-->
<div id="UserStatus">
    <ul class="list-group"></ul>
    <% for(let index = 0; index < usersStatuses.length; index++) { %>
        <li class=" <%= (usersStatuses[index].status) == 
        'Online' ? 'text-success' : 'text-secondary' %>">
            <a 
                href="/profile/<%= usersStatuses[index].username %>" 
                class="<%= (usersStatuses[index].status) == 
                'Online' ? 'text-success' : 'text-secondary' %> <%=usersStatuses[index]._id %>"> 
                <%= usersStatuses[index].username %> </a>
            </li>
    <% } %>
    </ul>
</div>