<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/chatroom.css">
</head>

<body>
    <script>
        const roomName = '<%= roomName %>';
        const currentUser = '<%=currentUser%>';
    </script>

    <div id="chatrooms">
        <h3>Create chat room</h3>
            <form id="createChatRoom" action="">
                    <input id="newRoomName" autocomplete="off"><button type="submit">Create</button>
            </form>
            
                <p>Logged in as <%=currentUser%>
                <a href="/profile/<%=currentUser%>">View Profile</a>
        
        <ul>
            <% for (chatroom of chatrooms) { %>
            <li><a href="/chatroom/<%= chatroom.roomname %>"> <%= chatroom.roomname %> </a></li>
            <% } %>
        </ul>
    </div>

    <div id="chat-container">
        <ul id="messages"></ul>
        <form id="sendMessage" action="">
            <input id="m" autocomplete="off"><button>Send</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/chatroom.js"></script>
</body>

</html>
