<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
  
    <% include ./partials/header %>
        


</head>

<body>
    <script>
        const roomName = '<%= roomName %>';
        const target = '<%= target %>';
        const currentUser = '<%=currentUser%>';
        const userId = '<%=userId%>';
    </script>
    <div class="container-fluid">
        <div class="row">
            <div id="chatrooms" class="col-sm-2">
                <p class="loggedIn">Logged in as <%=currentUser%></p>
                <p class="loggedIn"><a href="/profile/<%=currentUser%>" class="btn btn-info">View Profile</a></p>
                <% include ./partials/logout %>
                    <h3>Create chat room</h3>
                    <form id="createChatRoom" action="" class="form-group row">
                        <input id="newRoomName" placeholder="Roomname here..."autocomplete="off" class="form-control ml-3">
                        <button type="submit" class="btn btn-secondary">Create</button>
                    </form>

                    
                    
                    <h3>Chat rooms</h3>
                    <ul>
                        <% for (chatroom of chatrooms) { %>
                            <li class ="roomList">
                                <a href="/chatroom/<%= chatroom.roomname %>" class="text-secondary">
                                   # <%= chatroom.roomname %>
                                </a>
                            </li>
                            <% } %>
                    </ul>
                    <div id="direct-messages">
                        <h3>Direct messages</h3>
                        <% include ./partials/online %>
                    </div>
            </div>
            <div id="around-chat" class="col-sm-8">
                    <h1><%= roomName %></h1>
                <div id="chat-container">
                    
                    <ul id="messages">
                      
                    </ul>
                   
                </div>
                <form id="sendMessage" action="" class="form-group row center">
                     <input id="m" autocomplete="off" class="form-control" placeholder="Message here..."><button class="btn-secondary form-control">Send</button> 
                </form>
            </div>
        
            <div id="All-users" class="col-sm-2">
                <h3>All user profiles</h3>
                <% include ./partials/usersProfile %>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/chatroom.js"></script>
</body>

</html>