<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header %>
        <title>profil</title>
</head>

<body>
    <div class="container h-50">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-6">
                <h1>Profilsida för <%= data[0].username %></h1>
                <table>
                 
                    <tr>
                      
                    </tr>
                    <tr>
                        <td>
                            Ditt username: <%= data[0].username %>
                        </td>
                    </tr>
                    <tr>
                        <td>   
                            Din email: <%= data[0].email %> 
                        </td>  
                    </tr>
              
                </table>
            </div>
            
            <div class="col-sm-6">       
                <p>bild ska vara här</p> 
                 
                <a href="edituser/<%= data[0].username %>">Redigera konto</a><br>
                
                <a href="deleteuser/<%= data[0].username %>">Radera konto</a>
            </div>
        </div>
    </div>

</body>

</html>