<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header %>
   
        <title>profil</title>
</head>

<body>

        <div class="container-fluid niceColors3">
                <% include ./partials/logout %>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 niceColors2 text-center center">
            
                     <div class="card niceColors">
                             <img class="card-img-top" src="<%= data[0].profilePicturePath%>" 
                             alt="Profile picture" class="profilePicture">
                             <div class="card-body">
                               <h4 class="card-title">Namn: <%= data[0].username %></h4>
                               <p class="card-text" >Din email: <%= data[0].email %> </p>
                               <a href="edituser/<%= data[0].username %>" class="btn btn-info">Redigera konto</a><br>
                               <a href="deleteuser/<%= data[0].username %>" onclick="return confirm('Are you sure you want to delete your profile?')" class="btn btn-danger">Radera konto</a>
                             </div>
                             <a href="/" class="btn btn-primary">Tillbaka till chatrum</a>
                           </div>
            
                    </div>
            
                </div>
            </div>


</body>

</html>